{%- if page.comments != false -%}
<div id="giscus-comments" class="giscus">
  <script>
    (function() {
      var theme = localStorage.getItem('theme') === 'light' ? 'light' : 'dark';
      var s = document.createElement('script');
      s.src = 'https://giscus.app/client.js';
      s.setAttribute('data-repo', 'CanYouImag/CanYouImag.github.io');
      s.setAttribute('data-repo-id', 'R_kgDOSWxZag');
      s.setAttribute('data-category', 'Announcements');
      s.setAttribute('data-category-id', 'DIC_kwDOSWxZas4C_IPy');
      s.setAttribute('data-mapping', 'pathname');
      s.setAttribute('data-strict', '0');
      s.setAttribute('data-reactions-enabled', '1');
      s.setAttribute('data-emit-metadata', '0');
      s.setAttribute('data-input-position', 'top');
      s.setAttribute('data-theme', theme);
      s.setAttribute('data-lang', 'zh-CN');
      s.setAttribute('data-loading', 'lazy');
      s.crossOrigin = 'anonymous';
      s.async = true;
      document.getElementById('giscus-comments').appendChild(s);
    })();
  </script>
</div>
{%- endif -%}
